[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}

[dev-packages]
black = "*"
pylint = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
dev = "uvicorn main:app --reload"
